[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pytorch-lightning = "~=2.0"
natsort = "*"
scikit-image = "*"
simpleitk = "*"
nibabel = "*"
dvc = "*"
matplotlib = "*"
monai = {extras = ["einops"], version = "*"}
rootutils = "*"
autoroot = "*"
autorootcwd = "*"

[dev-packages]
monai = {extras = ["all"], version = "*"}

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
